@use 'variaveis';

.banner1{
    padding: 5.6vw;
    padding-top: 350px;
    padding-bottom: 350px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/bk-slogan.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    @media(max-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        &__container{
            min-width: 600px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button{
                width: 350px;
              
            }
        }

}