
.faq{
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__questions{
        max-width: 900px;

        @media(max-width: 768px){
            min-width: 375px;
        }

        &__item{
            background-color: #131313;
            margin-bottom: 15px;

            &__question{
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer{
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
            }

            &--is-open{
                .faq__questions__item__question::after{
                    content: '-';
                }
                .faq__questions__item__answer{
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .5s ease;
                }
            }
        }
    }
}